.food {
    width: 100%;
    height: 100vh;
}

.food .grid-container {
    width: 100%;
    height: 100%;
    
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.food .left {
    grid-row: 1/3;
}

.food .top {
    grid-row: 1/2;
}

.food .bottom {
    grid-row: 2/3;
}



