@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;500;600&display=swap');

*, 
:after, 
:before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* For understanding main colors */
:root {
    --primary-color: #28d2e5;
    --additon-color: #663399;
    --light-color: #faebd7;
  }

body {
    margin: 0;
    font-family: 'Work Sans', 'Ubuntu', sans-serif;
    font-weight: 400;
    color: #663399; 
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
}

h1 {
    font-size: 4.5rem;
    font-weight: 600;
}

h2 {
    font-size: 3rem;
}

h3 {
    font-size: 1.5rem;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color:#663399;
}

.btn {
    padding: .7rem 1.5rem;
    border: 1px solid #663399;
    border-radius: 25px;
    
    background: transparent;
    color: #663399;
    font-size: 1rem;
    background: rgba(40, 211, 221, .85);
}

/* Optional */
/* .btn-dark {
    background: #663399;
    color: #28d2e5; 
} */

@media screen and (max-width: 740px){
    h1 {
        font-size: 3rem;
    }
    
    h2 {
        font-size: 2rem;
    }
    
}

